<% title "Colecciones" %>
<div>
  <span class="button link_new"><%= link_to "Nueva Coleccion", new_collection_path %></span>
</div>
<div class="clear"></div>
<div id="collections">
<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Creado por</th>
    <th>Cantidad de objetos</th>
    <th></th>
  </tr>
  <% for collection in @collections %>
    <tr>
      <td><%= collection.name %></td>
      <td><%= collection.description %></td>
      <td><%= collection.user.full_name %></td>
      <td><%= collection.items.size %></td>
      <td>
        <%= link_to "Show", collection %>
        <%= link_to "Edit", edit_collection_path(collection) %>
        <% if current_user.admin? %>
          <%= link_to "Destroy", collection, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>

