<% title "#{Collection.model_name.human} #{@collection.name.titleize}" %>
<div id="collection_show">
  <div class="left">
    <small>Creado por <span style="color:#DD4B39"><strong><%= @collection.user.full_name %></strong></span> el <strong><%= l @collection.created_at, :format => :short %></strong></small>
  </div>
  <div class="right">
    <div class="button">
      <%= link_to t('helpers.links.new_task'), new_special_task_path(:collection => @collection.id) %>
    </div>
    <% unless @collection.special_tasks.empty? %>
      <div class="button">
        <%= link_to t('helpers.links.tasks'), special_tasks_path("q[collection]" => @collection.id) %>
      </div>
    <% end %>
    <div class="button">
      <%= link_to t('helpers.links.edit'), edit_collection_path(@collection) %>
    </div>
    <div class="button">
      <%= link_to t('helpers.links.delete'), @collection, :confirm => 'Esta seguro que desea eliminar esta coleccion?', :method => :delete %>
    </div>
  </div>
  <div class="clear"></div>
  <div id="colecction_info">
    <h2> Coleccion <%= @collection.name %></h2>
    <%= simple_format @collection.description, :class => "text_area" %>
  </div>
  <div id="collection_items">
    <h2> Items </h2>
    <% if @collection.items.empty? %>
      <h3> No hay objetos en esta coleccion </h3>
    <% else %>
      <div class="left" id="items_collection">
        <%= render :partial => "items" %>
      </div>
      <div class="left" style="margin: <%= @collection.items.size > 10 ? '20px' : '0'%> auto;" id="collection_item_panel"><div style="text-align:center;margin-top: 40px"> No se selecciono ningun item</div></div>
      <div class="clear"></div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>

