<% title Collection.model_name.human %>
<script>
  $(function(){
    $(".remove_item").click(function(){
      var id = $(this).attr('id');
      $('#item_'+id).html("<div style='text-align:center;margin-top: 40px'><img src='/images/loading.gif'> Eliminando</div>");
    });
    $(".item_info").click(function(){
      $('#collection_item_panel').html("<div style='text-align:center;margin-top: 40px'><img src='/images/loading2.gif'></div>");
    })

  })
</script>
<div id="collection">
  <div id="colecction_info">
    <small>Creado por <%= @collection.user.full_name %> el <%= l @collection.created_at, :format => :short %></small>
    <p>
      <strong><%= Collection.human_attribute_name(:name)%>:</strong>
      <%= @collection.name %>
    </p>
    <p>
      <strong><%= Collection.human_attribute_name(:description)%>:</strong>
      <%= simple_format @collection.description, :class => "text_area" %>
    </p>
  </div>
  <div id="collection_items">
    <% if @collection.items.empty? %>
      <h3> No hay objetos en esta coleccion </h3>
    <% else %>
      <h3> Items </h3>
      <div class="left" id="items_collection">
        <%= render :partial => "items" %>
      </div>
      <div class="left" id="collection_item_panel"><div style="text-align:center;margin-top: 40px"> No se selecciono ningun item</div></div>
      <div class="clear"></div>
    <% end %>
  </div>
  <div class="clear"></div>
  <p>
    <div class="button">
      <%= link_to t('helpers.links.edit'), edit_collection_path(@collection) %>
    </div>
    <div class="button">
      <%= link_to t('helpers.links.delete'), @collection, :confirm => 'Esta seguro que desea eliminar esta coleccion?', :method => :delete %>
    </div>
  </p>
</div>

