
<div style="width: 35%;text-align:center;margin: 20px auto;font-size:15px">
<%= form_tag sessions_path do %>
  <div id="login_form" style="margin-top:10px">
    <div style="float:left;width: 150px;margin:10px;text-align: right"><%= label_tag :login, "Usuario o email" %></div>
    <div style="float:left;margin-top:5px"><%= text_field_tag :login, params[:login] %></div>
    <div class="clear"></div>
    <div style="float:left;width: 150px;margin:10px;text-align: right"><%= label_tag :password %></div>
    <div style="float:left;margin-top:5px"><%= password_field_tag :password %></div>
    <div class="clear"></div>
    <div style="float:right;margin: 10px 40px;"><%= submit_tag "Login" %></div>
    <div class="clear"></div>
  </div>
<% end %>
</div>

