<div id="new_observation_form" >
<%= form_for [@report,@report.observations.new], :validate => true, :remote => true do |f| %>
  <strong><%= f.label :category %></strong>
  <%= f.select :category,Observation::CATEGORIES %>
  <p>
    <p><strong><%= f.label :body %></strong></p>
    <%= f.text_area :body,:rows => 5 %>
  </p>

  <p><%= f.submit %> o <%= link_to_function 'Cancelar', "$('#new_observation_form form')[0].reset();$('#new_observation_form label.message').hide()"   %></p>
<% end %>
</div>

