<div class="observation"  id="observation_<%=observation.id%>">
  <div class="observation_header left">
    <%= Observation.human_attribute_name(:category)%> <strong><%= observation.category.titleize %></strong>
  </div>
  <div class="link_to_delete right">
      <%= link_to image_tag('remove.png', :title => "Eliminar observacion"), observation, :method => :delete, :remote => true, :class => "remove_obs", :id => observation.id  %>
  </div>
  <div class="clear"></div>
  <div>
    <p class="observation_body" id="<%= observation.id %>">
    <%= observation.body %>
  </div>
  <div class="observation_footer">
    <div class="user_info left">
      <%= Observation.human_attribute_name(:user)%>: <strong><%= observation.user.full_name %></strong>
    </div>
    <div class="user_info right">
      <%= Observation.human_attribute_name(:created_at)%>: <strong><%= l observation.created_at, :format=> :short %></strong>
    </div>
  </div>
  <div class="clear"></div>
</div>

