<% title "Observations" %>

<table>
  <tr>
    <th>Report</th>
    <th>Category</th>
    <th>Body</th>
    <th>User</th>
  </tr>
  <% for observation in @observations %>
    <tr>
      <td><%= observation.report_id %></td>
      <td><%= observation.category %></td>
      <td><%= observation.body %></td>
      <td><%= observation.user_id %></td>
      <td><%= link_to "Show", observation %></td>
      <td><%= link_to "Edit", edit_observation_path(observation) %></td>
      <td><%= link_to "Destroy", observation, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Observation", new_observation_path %></p>
