<% title "Observation" %>

<p>
  <strong>Report:</strong>
  <%= link_to "Report ##{@report.id}", report_path(@report) %>
</p>
<p>
  <strong>Category:</strong>
  <%= @observation.category %>
</p>
<p>
  <strong>Body:</strong>
  <%= @observation.body %>
</p>
<p>
  <strong>User:</strong>
  <%= @observation.user.email %>
</p>

<p>
  <%= link_to "Edit", edit_observation_path(@observation) %> |
  <%= link_to "Destroy", @observation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", observations_path %>
</p>

