<h2> Subcategoria <%= @subcategory.name %></h2>
<div>
  <ul>
    <% @subcategory.generic_fields.each do |generic_field| %>
      <li><%= generic_field.name %> : <%= generic_field.field_style %></li>
    <% end %>
  </ul>
  <hr>
  <div class="generic_field_form">
    <%= render :partial => 'admin/generic_fields/form', :locals => {:subcategory => @subcategory } %>
  </div>
</div>
<%= link_to 'Volver', admin_configuration_path  %>

