<% title "Tasks" %>
 <%= paginate @tasks %>
<table>
  <tr>
    <th>Report</th>
    <th>Deterioration</th>
    <th>Description</th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td><%= link_to task.report.code, task.report %></td>
      <td><%= link_to "Det. ##{task.deterioration.id}", task.deterioration %></td>
      <td><%= task.description %></td>
      <td><%= task.user.full_name %></td>
      <td><%= link_to t('helpers.links.show'), task %></td>
      <td><%= link_to t('helpers.links.edit'), edit_task_path(task) %></td>
      <td><%= link_to t('helpers.links.delete'), task, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
 <%= paginate @tasks %>

