<% title "Task" %>

<p>
  <%= link_to "Report ##{@task.report_id}", report_path(@task.report) %>
  >
  <%= link_to "Deterioration ##{@task.deterioration_id}", report_deterioration_path(@task.report,@task.deterioration) %>
  >
  <strong>Task <%= @task.id %></strong>
</p>
  <p><small> Created by <strong><%= @task.user.email %></strong></small></p>
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<p>
  <h2> Tools </h2>
  <% @task.tools.each do |tool|%>
    <p style="border: 1px solid #ccc;margin: 2px">
      <p>
        <strong> Task # </strong> <%= tool.id %>
      </p>
      <p>
        <strong>Category:</strong>
        <%= tool.category %>
      </p>
      <strong>Description:</strong>
      <%= simple_format tool.description, :class=>"text_area"%>
    </p>
  <% end %>
<p>
  <strong> Galleries: </strong>
  <br>
  <% @task.galleries.each do |gallery|%>
    <%= link_to "Gallery ##{gallery.id}", gallery  %>
  <% end %>
 </p>
<p>
  <span class="button with_text new"> <%= link_to 'New Gallery', new_task_gallery_path(@task)  %></span>
  <span class="button with_text edit"> <%= link_to 'Edit', edit_report_task_path(@task.report,@task)  %></span>
  <span class="button with_text delete"><%= link_to "Destroy", @task, :confirm => 'Are you sure?', :method => :delete %></span>
</p>

