<% title "Deterioration" %>

<div id="deterioration">
  <span class="button with_text back"><%= link_to 'Back to Report', @report  %></span>
  <span class="button with_text new"> <%= link_to "add task", new_report_task_path(@report,:det_id => @deterioration) %></span>
  <p>
    <div class="det_info" style="margin: 0 10px;">
      <div>
        <span style="float:left; margin: 1px 6px 0 0;"><strong>Status</strong></span>
        <span style="float:left"><%= @deterioration.fixed ? (image_tag('closed.png') ): (image_tag('open.png')) %></span>
      </div>
      <div class="clear"></div>
      <strong> Category: </strong><%= @deterioration.category %>
      <p>
        <strong> Description: </strong>
        <%= simple_format @deterioration.description, :class => "text_area" %>
      </p>
    </div>
  </p>
  <div id="tasks" style="margin: 0 10px;">
    <% unless @deterioration.tasks.empty? %>
      <h3> Tasks </h3>
      <table id="deterioration_task_table">
        <tr>
          <th> Status </th>
          <th> Id </th>
          <th> Created </th>
          <th> Closed </th>
        </tr>
      <% @deterioration.tasks.each do |task| %>
        <tr>
            <td> <%= task.closed_at.nil? ? (image_tag('open-12.png',:title => "Open")) : (image_tag('closed-12.png',:title => "Closed")) %></td>
            <td>Task <%= task.id %> </td>
            <td><%=l task.created_at, :format => :long %></td>
            <td><%=task.closed_at.nil? ? '---':(l task.closed_at, :format => :long) %></td>
            <td>
              <span class="button with_text edit"> <%= link_to 'Edit', edit_report_task_path(@report,task)  %></span>
              <span class="button with_text delete"><%= link_to 'Delete', report_task_path(@report,task), :confirm => "Are you sure?", :method => :delete%> </span>
              <span class="button with_text show"><%= link_to_function "Show", "$('tr#task_#{task.id}').slideToggle('slow')"%></span>
            </td>
          </tr>
          <tr style="display:none" id="task_<%= task.id %>">
            <td>
              <span><strong>Description: </strong></span>
              <p>
                <%= task.description %>
              </p>
              <span><strong>Tools: </strong></span>
              <p>
                <% if task.tools.empty? %>
                 No tools
                <% else %>
                  <% task.tools.each do |tool| %>
                    <div> <%= tool.category %> : <%= tool.description %></div>
                  <% end %>
                <% end %>
              </p>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
