<div id="items_profile">
  <% @items.each do |item| %>
    <div id="item_<%= item.id%>" class="user_item">
      <div class="user_item_photo left">
        <%= image_tag(item.photo.url(:small)) %>
      </div>
      <div class="user_item_info">
        <table id="user_items_table">
          <tr>
            <td class="label"><strong> Codigo:</strong></td>
            <td class="code content"><%= link_to  item.code, item, :title => "Ir al item #{item.title.titleize}" %></td>
            <td><%= link_to image_tag('important16.png', :title => "Eliminar marca"),unflag_item_path(item, :user => true), :remote => true, :id => item.id, :class => "remove_item"%></td></tr>
          <tr>
            <td class="lablel">Titulo:</td>
            <td class="content" title="<%= item.title %>"><%= truncate(item.title, :length => 15) %></td>
            <td><%= image_tag("circle_#{item.status}.png", :title => "Estado: #{item.status}") %></td>
          </tr>
          <tr><td class="lablel">Tipo:</td><td class="content" title="Categoria: <%= item.category.name %>"><%= item.subcategory.name %></td></tr>
          <tr><td class="lablel">Autor:</td><td class="content"><%= item.author %></td></tr>
        </table>
      </div>
    </div>
  <% end %>
</div>
<div class="clear"></div>

