<div id="profile">
  <div id="user_header">
    <h1><%= current_user.full_name %></h1>
    <div class="profile">
      <h2> Informacion <span class="right"><a href="#" title="cleckea para abrir o cerrar esta pestana" data="user_table" class="minus close_info"></a></h2>
      <div id="user_table">
        <table class="user_information" style="width:50%">
          <tr><td class="label"><strong>Nombre</strong></td><td><%= current_user.full_name %></td></tr>
          <tr><td class="label"><strong>Email</strong></td><td><%= current_user.email %></td></tr>
          <tr><td class="label"><strong>Rol</strong></td><td><%= current_user.role %></td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="profile">
    <div id="my_items">
      <h2> Objetos <span class="right"><a href="#" title="cleckea para abrir o cerrar esta pestana" data="items_profile" class="minus close_info"></a></h2>
      <%= render 'items' %>
    </div>
  </div>
  <div class="profile">
    <div id="my_reports">
      <h2> Reportes <span class="right"><a href="#" title="cleckea para abrir o cerrar esta pestana" data="reports_profile" class="minus close_info"></a></h2>
      <div id="reports_profile">
        <%= render 'reports' %>
      </div>
    </div>
  </div>
  <div class="profile">
    <div id="my_activity">
      <h2> Actividad <span class="right"><a href="#" title="cleckea para abrir o cerrar esta pestana" data="activity_profile" class="minus close_info"></a></h2>
      <div id="activity_profile">
        <% @my_activity.each do |activities|%>
          <table class="user_information version">
            <tr class="table_header_item">
              <td class="table_object">
                <%= activities.first.item_type.classify.constantize.model_name.human %> ID #<%= activities.first.item_id %>
              </td>
              <td class="table_editions"><%= pluralize(activities.size,'edicion') %> </td>
              <td class="close_table">
                <a href="#" title="clickea para abrir o cerrar esta pestana" data="table_<%= activities.first.id%>" class="close_table"><%= image_tag('window-close.png')%></a>
              </td>
            </tr>
          </table>
          <table class="user_information versions" id="table_<%= activities.first.id%>">
            <% activities.each do |activity| %>
              <tr class="row">
                <td class="version_event"><%= t("views.profile.#{activity.event}") %></td>
                <td class="version_date"><%= l activity.created_at, :format => :short %></td>
                <td class="veersion_index"><%= activity.index == 0 ? "Original" : activity.index %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

