<div id="profile">
  <div id="user_header">
    <h1><%= current_user.full_name %></h1>
    <div class="profile">
      <h2> Informacion <span class="right"><a href="#" data="user_table" class="minus close_info"></a></h2>
      <div id="user_table">
        <table class="user_information" style="width:50%">
          <tr><td class="label"><strong>Nombre</strong></td><td><%= current_user.full_name %></td></tr>
          <tr><td class="label"><strong>Email</strong></td><td><%= current_user.email %></td></tr>
          <tr><td class="label"><strong>Rol</strong></td><td><%= current_user.role %></td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="profile">
    <div id="my_items">
      <h2> Objetos <span class="right"><a href="#" data="items_profile" class="minus close_info"></a></h2>
      <%= render 'items' %>
    </div>
  </div>
  <div class="profile">
    <div id="my_reports">
      <h2> Reportes <span class="right"><a href="#" data="reports_profile" class="minus close_info"></a></h2>
      <div id="reports_profile">
        <%= render 'reports' %>
      </div>
    </div>
  </div>
  <div class="profile">
    <div id="my_activity">
      <h2> Actividad <span class="right"><a href="#" data="activity_profile" class="minus close_info"></a></h2>
      <div id="activity_profile">
        <table class="user_information">
          <tr>
            <th class="first">Evento</th>
            <th>Objeto</th>
            <th>Realizado el</th>
            <th title="Es la cantidad de veces que fue modificado el objeto">Numero de version</th>
          </tr>
          <% @activity.each do |activity|%>
            <tr class="row">
              <td class="first"><%= t("views.profile.#{activity.event}") %></td>
              <td class="second"><%= version_item(activity)%></td>
              <td><%= l activity.created_at, :format => :short %></td>
              <td><%= activity.index == 0 ? "Original" : activity.index %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

