<div id="profile">
  <div id="user_header">
    <h1><%= current_user.full_name %></h1>
    <div class="profile">
      <h2> Informacion <span class="right"><a href="#" data="user_table" class="minus close_info"></a></h2>
      <div id="user_table">
        <table >
          <tr><td><strong>Nombre</strong></td><td><%= current_user.full_name %></td></tr>
          <tr><td><strong>Email</strong></td><td><%= current_user.email %></td></tr>
          <tr><td><strong>Rol</strong></td><td><%= current_user.role %></td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="profile">
    <div id="my_items">
      <h2> Objetos <span class="right"><a href="#" data="items_profile" class="minus close_info"></a></h2>
      <%= render 'items' %>
    </div>
  </div>
  <div class="profile">
    <div id="my_items">
      <h2> Mis reportes <span class="right"><a href="#" data="reports_profile" class="minus close_info"></a></h2>
      <div id="reports_profile">
        <%= render 'reports' %>
      </div>
    </div>
  </div>
  <div class="profile">
    <div id="my_items">
      <h2> Actividad <span class="right"><a href="#" data="activity_profile" class="minus close_info"></a></h2>
      <div id="activity_profile">
        Aca va mas info
      </div>
    </div>
  </div>
</div>

