<div class="form" id="event_form">
  <%= form_for @event do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :activity %><br/>
      <%= f.text_area :activity, :cols => 120, :rows => 5 %>
    </p>
    <p>
      <%= f.label :start_at %>
      <%= f.datetime_select :start_at %>
    </p>
    <p>
      <%= f.label :end_at %>
      <%= f.datetime_select :end_at %>
    </p>
    <p><%= f.submit %> o <%= link_to 'Cancelar', @event.new_record? ? events_path : @event  %></p>
  <% end %>
</div>

