<script>
  $(function(){
    $('#custom').change(function(){
      if ($(this).attr('checked') == 'checked'){
        $('#alert_custom').attr('disabled',false);
        $('#alert_frequency').attr('disabled',true);
      }
      else{
        $('#alert_custom').attr('disabled',true);
        $('#alert_custom').val('');
        $('#alert_frequency').attr('disabled',false);
      }
    });
    $('#alert_custom').change(function(){
      if ($('#alert_custom').attr('disabled') != 'disabled' && $('#alert_custom').val() != ''){
        $('#custom_alert_error').show();
      }
    });
    $('#cancel_link').click(function(){
      $('#new_alert')[0].reset();
      $('label.message').hide();
      $('#custom_alert_error').hide();
     });
   $('.alert').live("mouseout",function(){
      $('.delete_link').click(function(){
        $('#loading').show();
      });
      $(".frequency").editInPlace({
        url: '/alerts/update_in_place',
        saving_image: '/images/loading.gif',
        params: 'field=frequency',
        field_type: "select",
    		select_options: [['Diario','1'],['Semanal','7'],['Quincenal','15'],['Mensual','30']]
      }),
      $(".day").editInPlace({
        url: '/alerts/update_in_place',
        saving_image: '/images/loading.gif',
        params: 'field=day',
        field_type: "select",
    		select_options: [['Lunes','lunes'],['Martes','martes'],['Miercoles','miercoles'],['Jueves','jueves'],['Viernes','viernes']]
      }),
      $(".custom").editInPlace({
        url: '/alerts/update_in_place',
        saving_image: '/images/loading.gif',
        params: 'field=place'
      });
      $(".message").editInPlace({
        url: '/alerts/update_in_place',
        saving_image: '/images/loading.gif',
        params: 'field=message',
        field_type: "textarea",
    		textarea_rows: "3",
      	textarea_cols: "59",
      	bg_out: '#f1f1f1'
      });
    });
    $('#alert_day').attr('disabled',true);
    $('#custom_option').change(function(){
      if ($(this).attr('checked') == 'checked'){
        $('#alert_custom').attr('disabled',false);
        $('#alert_frequency').attr('disabled',true);
        $('#alert_day').attr('disabled',true);
      }
      else{
        $('#alert_custom').attr('disabled',true);
        $('#alert_custom').html('');
        $('#custom_alert_error').hide();
        $('#alert_frequency').attr('disabled',false);
        $('#alert_day').attr('disabled',false);
      }
    });
    $('#alert_frequency').change(function(){
      if ($('#alert_frequency').val() == "1"){
        $('#alert_day').attr('disabled',true);
      }else{
        $('#alert_day').attr('disabled',false);
      }
    });
    $('#alert_custom').change(function(){
      if ($('#alert_custom').val() != ''){
        $('#custom_alert_error').hide();
      }
      else{
        $('#custom_alert_error').show();
      }
    });
    $('#alert_custom').blur(function(){
      if ($('#alert_custom').val() != ''){
        $('#custom_alert_error').hide();
      }
      else{
        $('#custom_alert_error').show();
      }
    });
  })
</script>
<div id="alert_form">
  <%= form_for [@parent,@parent.alerts.new], :validate => true, :remote => true do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p>
      <strong> <%= @parent.class %>  <%=link_to @parent.try(:code), @parent, :style => "color:#3D9400;font-weight:bold" %> </strong>
    </p>
    <p>
      Frecuencia personalizada? <%= check_box_tag :custom_option %><br>
      <br>
      <div style="float: left;width: 39%;">
        <%= f.label :frequency %><%= f.select :frequency, Alert::FREQUENCY %>
      </div>
      <div style="float: left;width: 25%;margin-left:10px">
        Dias: <%= f.text_field :custom, :size => 5, :disabled => 'disabled' %>
      </div>
      <div class="clear"></div>
      <div id="custom_alert_error" style="display:none">Tenes que seleccionar un intervalo</div>
    </p>
    <p>
      <%= f.label :message %><br />
      <%= f.text_area :message, :cols => 50, :rows => 5 %>
    </p>
    <div id="form_buttons">
      <p><%= f.submit "Crear Alerta", :disable_with => "guardando..."%> o  <%= link_to 'Cancelar', "#",:id => "cancel_link"  %></p>
    </div>
  <% end %>
</div>

