<div id="alert_form">
  <%= form_for [@parent,@parent.alerts.new], :validate => true, :remote => true do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p>
      <strong> <%= @parent.class %>  <%=link_to @parent.try(:code), @parent, :style => "color:#3D9400;font-weight:bold" %> </strong>
    </p>
    <p>
      Frecuencia personalizada? <%= check_box_tag :custom_option %><br>
      <br>
      <div style="float: left;width: 39%;">
        <%= f.label :frequency %><%= f.select :frequency, Alert::FREQUENCY %>
      </div>
      <div style="float: left;width: 25%;margin-left:10px">
        Dias: <%= f.text_field :custom, :size => 5, :disabled => 'disabled' %>
      </div>
      <div class="clear"></div>
      <div id="custom_alert_error" style="display:none">Tenes que seleccionar un intervalo</div>
    </p>
    <p>
      <%= f.label :message %><br />
      <%= f.text_area :message, :cols => 50, :rows => 5 %>
    </p>
    <div id="form_buttons">
      <div class="left"> <%= link_to "Volver", @parent %> </div>
      <div class="right"><%= f.submit "Crear Alerta", :disable_with => "guardando..."%> o  <%= link_to 'Cancelar', "#",:id => "cancel_link"  %></div>
    </div>
  <% end %>
</div>

