<script>
  $(function(){
    $('#item_item_category_id').change(function(){
      $.getJSON( "/items/get_subcategories",{id: $(this).val(), ajax: 'true'}, function(j){
          var options = '';
          for (var i = 0; i < j.length; i++) {
            options += '<option value="' + j[i].id + '">' + j[i].name + '</option>';
          }
          $("#item_item_subcategory_id").html(options);
          $('#subcategory_error').hide();
        })
    });
    $("#item_item_subcategory_id").change(function(){
      if ($("#item_item_subcategory_id").val() == '' ){
        $('#subcategory_error').show();
        return false;
      }else{
        $('#subcategory_error').hide();
      }
    });
    $('#item_submit').click(function(){
      if ($("#item_item_subcategory_id").val() == '' ){
        $('#subcategory_error').show();
        return false;
      }else{
        $('#subcategory_error').hide();
      }
    });
  })
</script>
<%= form_for @item, :validate => true do |f| %>
  <%= f.error_messages %>
  <div style="float:left;width:40%">
    <p>
      <%= f.label :collection_id %>
      <%= f.select :collection_id, Collection.all.collect{|c| [c.name,c.id]}, :prompt => true %>
    </p>
    <p>
      <%= f.label :code %><br />
      <%= f.text_field :code %>
    </p>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
  </div>
  <div style="float:left;width:45%">
    <p>
      <%= f.label :category %>
      <% if @item.new_record? %>
        <%= f.select :item_category_id, ItemCategory.categories.collect{|c| [c.name,c.id]},:prompt => true %>
      <% else %>
        <%= f.hidden_field :item_category_id, :value => @item.category.id %>
        <strong><%= @item.category.name %></strong>
      <% end %>
      <%= f.label :subcategory %>
      <% if @item.new_record? %>
        <%= f.select :item_subcategory_id, "<option value>Seleccione una categoria</option>"%>
      <% else %>
        <%= f.hidden_field :item_subcategory_id, :value => @item.subcategory.id %>
        <strong><%= @item.subcategory.name %></strong>
      <% end %>
      <br/>
    </p>
    <p>
      <%= f.label :status %>
      <%= f.select :status,ApplicationHelper::ITEM_STATUS %>
    </p>
      <p>
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </p>
    <% unless @item.new_record? %>
      <%= f.fields_for :generic_text_fields do |a| %>
        <p>
          <%= a.object.label_attribute.titleize %>
          <br>
          <%= a.hidden_field :label_attribute, :value => a.object.label_attribute %>
          <%= a.text_field :content %>
          <div style="margin-top:-10px;color:#666">
            <% unless @item.subcategory.generic_fields.find_by_name(a.object.label_attribute) %>
              <small>
                <%= a.check_box :_destroy %>
                <strong>Este campo ya no se utiliza mas, puede eliminarlo si lo desea. </strong>
              </small>
            <% end %>
          </div>
        </p>
      <% end %>
      <%= f.fields_for :generic_integer_fields do |b| %>
        <p>
          <%= b.object.label_attribute.titleize %>
          <br>
          <%= b.hidden_field :label_attribute, :value => b.object.label_attribute %>
          <%= b.text_field :content, :size => 10 %>
          <div style="margin-top:-10px;color:#666">
            <% unless @item.subcategory.generic_fields.find_by_name(b.object.label_attribute) %>
              <small>
                <%= b.check_box :_destroy %>
                <strong>Este campo ya no se utiliza mas, puede eliminarlo si lo desea. </strong>
              </small>
            <% end %>
          </div>
        </p>
      <% end %>
      <%= f.fields_for :generic_float_fields do |c| %>
        <p>
          <%= c.object.label_attribute.titleize %>
          <br>
          <%= c.hidden_field :label_attribute, :value => c.object.label_attribute %>
          <%= c.text_field :content, :size => 10 %>
          <div style="margin-top:-10px;color:#666">
            <% unless @item.subcategory.generic_fields.find_by_name(c.object.label_attribute) %>
              <small>
                <%= c.check_box :_destroy %>
                <strong>Este campo ya no se utiliza mas, puede eliminarlo si lo desea. </strong>
              </small>
            <% end %>
          </div>
        </p>
      <% end %>
      <%= f.fields_for :generic_boolean_fields do |d| %>
        <p>
          <%= d.object.label_attribute.titleize %>
          <br>
          <%= d.hidden_field :label_attribute, :value => d.object.label_attribute %>
          <%= d.check_box :content %>
          <div style="margin-top:-10px;color:#666">
            <% unless @item.subcategory.generic_fields.find_by_name(d.object.label_attribute) %>
              <small>
                <%= d.check_box :_destroy %>
                <strong>Este campo ya no se utiliza mas, puede eliminarlo si lo desea. </strong>
              </small>
            <% end %>
          </div>
        </p>
      <% end %>
      <%= f.fields_for :generic_text_areas do |e| %>
        <p>
          <%= e.object.label_attribute.titleize %>
          <br>
          <%= e.hidden_field :label_attribute, :value => e.object.label_attribute %>
          <%= e.text_area :content, :cols => 50, :rows => 5 %>
          <div style="margin-top:-10px;color:#666">
            <% unless @item.subcategory.generic_fields.find_by_name(e.object.label_attribute) %>
              <small>
                <%= e.check_box :_destroy %>
                <strong>Este campo ya no se utiliza mas, puede eliminarlo si lo desea. </strong>
              </small>
            <% end %>
          </div>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="clear"></div>

  <p><%= f.submit %> o <%= link_to t('helpers.links.cancel'), @item.new_record? ? items_path : @item  %></p>
<% end %>

