<script>
  $(function(){

  })
</script>
<div class="form" id="item_form">
  <%= form_for @item, :html =>{:multipart => true}, :validate => true do |f| %>
    <%= f.error_messages %>
    <h3> Datos basicos</h3>
    <div class="col_left left">
      <p>
        <%= f.label :collection_id %>
        <%= f.select :collection_id, Collection.all.collect{|c| [c.name,c.id]}, :prompt => true %>
      </p>
      <p>
        <%= f.label :code %>
        <%= f.text_field :code %>
      </p>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :remote_site, "Url externa" %>
        <%= f.text_field :remote_site %>
      </p>
      <p>
        <%= f.label :photo, "Foto"%>
        <%= !@item.new_record? && @item.photo.exists? ? image_tag(@item.photo.url(:small),:style => "float:left;margin-right:10px") : nil %>
        <%= f.file_field :photo %>
      </p>
    </div>
    <div class="col_right left">
      <p>
        <%= f.label :status %>
        <%= f.select :status,ApplicationHelper::ITEM_STATUS %>
      </p>
      <p>
        <%= f.label :item_category_id, "Categoria" %>
        <% if @item.new_record? %>
          <%= f.select :item_category_id, ItemCategory.categories.collect{|c| [c.name,c.id]},:prompt => "categoria", :class => "item_select" %>
        <% else %>
          <%= f.hidden_field :item_category_id, :value => @item.category.id %>
          <span class="item_type"><%= @item.category.name %></span>
        <% end %>
      </p>
      <p>
        <%= f.label :item_subcategory_id, "Sub Cat." %>
        <% if @item.new_record? %>
          <%= f.select :item_subcategory_id, "<option value>Subcategoria</option>"%>
        <% else %>
          <%= f.hidden_field :item_subcategory_id, :value => @item.subcategory.id %>
          <span class="item_type"><%= @item.subcategory.name %></span>
        <% end %>
      </p>
      <p>
        <%= f.label :author %>
        <%= f.text_field :author %>
      </p>
      <p>
        <%= f.label :remote_image, "Link foto"%>
        <%= f.text_field :remote_image %>
        <div style="margin:-20px 0 0 85px;color:#999;font-size:11px">Esta opcion es optativa, si conoce la url de foto</div>
      </p>
    </div>

    <div class="clear"></div>

    <div class="text_form">
      <strong>Descripcion</strong>
      <%= f.text_area :description %>
      <p>
        <%= f.label :featured, "Importante" %>
        <%= f.check_box :featured %>
      </p>
    </div>
    <div class="clear"></div>
    <div class="attributes_added">
      <% unless @item.new_record?  %>
        <% if @item.has_additional_info? %>
          <h3> Datos adicionales</h3>
          <div class="left col_left">
            <%= f.fields_for :generic_text_fields do |a| %>
              <div class="addicional_field">
                <label><%= a.object.generic_field.try(:name) || a.object.label_attribute %></label>
                <%= a.hidden_field :label_attribute, :value => a.object.generic_field.try(:name) %>
                <%= a.text_field :content %>
                <div class="delete_message_option">
                  <% unless a.object.generic_field %>
                    <small class="can_delete_field">
                      <%= a.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= f.fields_for :generic_integer_fields do |b| %>
              <div class="addicional_field">
                <label><%= b.object.generic_field.try(:name) || b.object.label_attribute%></label>
                <%= b.hidden_field :label_attribute, :value => b.object.generic_field.try(:name) %>
                <%= b.text_field :content, :size => 10 %>
                <div class="delete_message_option">
                  <% unless b.object.generic_field %>
                    <small class="can_delete_field">
                      <%= b.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= f.fields_for :generic_float_fields do |c| %>
              <div class="addicional_field">
                <label><%= c.object.generic_field.try(:name) || c.object.label_attribute %></label>
                <%= c.hidden_field :label_attribute, :value => c.object.generic_field.try(:name) %>
                <%= c.text_field :content, :size => 10 %>
                <div class="delete_message_option">
                  <% unless c.object.generic_field %>
                    <small class="can_delete_field">
                      <%= c.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= f.fields_for :generic_boolean_fields do |d| %>
              <div class="addicional_field">
                <label><%= d.object.generic_field.try(:name) || d.object.label_attribute %></label>
                <%= d.hidden_field :label_attribute, :value => d.object.generic_field.try(:name) %>
                <%= d.check_box :content %>
                <div class="delete_message_option">
                  <% unless d.object.generic_field %>
                    <small class="can_delete_field">
                      <%= d.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="added_attributes_text col_right right">
            <%= f.fields_for :generic_text_areas do |e| %>
              <div class="addicional_field">
                <strong><%= e.object.generic_field.try(:name) || e.object.label_attribute %></strong>
                <br>
                <%= e.hidden_field :label_attribute, :value => e.object.generic_field.try(:name) %>
                <%= e.text_area :content, :cols => 50, :rows => 5 %>
                <div class="delete_message_option">
                  <% unless e.object.generic_field %>
                    <small class="can_delete_field">
                      <%= e.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="clear"></div>
    </div>
    <p id="submit_buttons"><%= f.submit :disable_with => "Guardando..." %><span class="separator"> o </span> <%= link_to t('helpers.links.cancel'), @item.new_record? ? items_path : @item  %></p>
  <% end %>
</div>

