<script>
  $(function(){

  })
</script>
<div class="form" id="item_form">
  <%= form_for @item, :html =>{:multipart => true}, :validate => true do |f| %>
    <%= f.error_messages %>
    <h3> Datos basicos</h3>
    <div class="col_left left">
      <p>
        <%= f.label :collection_id %>
        <%= f.select :collection_id, Collection.all.collect{|c| [c.name,c.id]}, :prompt => true %>
      </p>
      <p>
        <%= f.label :code %>
        <%= f.text_field :code %>
      </p>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :remote_site, "Url externa" %>
        <%= f.text_field :remote_site %>
      </p>
    </div>
    <div class="col_right left">
      <p>
        <%= f.label :status %>
        <%= f.select :status,ApplicationHelper::ITEM_STATUS %>
      </p>
      <div style="margin: 1em 0">
        <label>Categoria </label>
        <% if @item.new_record? %>
          <span class="left"><%= f.select :item_category_id, ItemCategory.categories.collect{|c| [c.name,c.id]},:prompt => "categoria" %></span>
        <% else %>
          <%= f.hidden_field :item_category_id, :value => @item.category.id %>
          <span class="item_type left"><%= @item.category.name %></span>
        <% end %>
        <label style="width:100px;margin-left: 10px"> Subcategoria </label>
        <% if @item.new_record? %>
          <span class="left"><%= f.select :item_subcategory_id, "<option value>Subcategoria</option>"%></span>
        <% else %>
          <%= f.hidden_field :item_subcategory_id, :value => @item.subcategory.id %>
          <span class="item_type left"><%= @item.subcategory.name %></span>
        <% end %>
      </div>
      <div class="clear"></div>
      <p>
        <%= f.label :author %>
        <%= f.text_field :author %>
      </p>
      <p>
        <%= f.label :featured, "Importante" %>
        <%= f.check_box :featured %>
      </p>
    </div>
    <div class="clear"></div>
    <div class="text_form">
      <strong>Descripcion</strong>
      <%= f.text_area :description %>
      <p>
        <%= f.label :photo, "Foto"%>
        <%= !@item.new_record? && @item.photo.exists? ? image_tag(@item.photo.url(:small),:style => "float:left;margin-right:10px") : nil %>
        <%= f.file_field :photo %>
      </p>
    </div>
    <div class="clear"></div>
    <div class="attributes_added">
      <% unless @item.new_record?  %>
        <% if @item.has_additional_info? %>
          <h3> Datos adicionales</h3>
          <div class="left col_left">
            <%= f.fields_for :generic_text_fields do |a| %>
              <div class="addicional_field">
                <label><%= a.object.label_attribute.titleize %></label>
                <%= a.hidden_field :label_attribute, :value => a.object.label_attribute %>
                <%= a.text_field :content %>
                <div class="delete_message_option">
                  <% unless @item.subcategory.generic_fields.find_by_name(a.object.label_attribute) %>
                    <small class="can_delete_field">
                      <%= a.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= f.fields_for :generic_integer_fields do |b| %>
              <div class="addicional_field">
                <label><%= b.object.label_attribute.titleize %></label>
                <%= b.hidden_field :label_attribute, :value => b.object.label_attribute %>
                <%= b.text_field :content, :size => 10 %>
                <div class="delete_message_option">
                  <% unless @item.subcategory.generic_fields.find_by_name(b.object.label_attribute) %>
                    <small class="can_delete_field">
                      <%= b.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= f.fields_for :generic_float_fields do |c| %>
              <div class="addicional_field">
                <label><%= c.object.label_attribute.titleize %></label>
                <%= c.hidden_field :label_attribute, :value => c.object.label_attribute %>
                <%= c.text_field :content, :size => 10 %>
                <div class="delete_message_option">
                  <% unless @item.subcategory.generic_fields.find_by_name(c.object.label_attribute) %>
                    <small class="can_delete_field">
                      <%= c.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= f.fields_for :generic_boolean_fields do |d| %>
              <div class="addicional_field">
                <label><%= d.object.label_attribute.titleize %></label>
                <%= d.hidden_field :label_attribute, :value => d.object.label_attribute %>
                <%= d.check_box :content %>
                <div class="delete_message_option">
                  <% unless @item.subcategory.generic_fields.find_by_name(d.object.label_attribute) %>
                    <small class="can_delete_field">
                      <%= d.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="added_attributes_text col_right right">
            <%= f.fields_for :generic_text_areas do |e| %>
              <div class="addicional_field">
                <strong><%= e.object.label_attribute.titleize %></strong>
                <br>
                <%= e.hidden_field :label_attribute, :value => e.object.label_attribute %>
                <%= e.text_area :content, :cols => 50, :rows => 5 %>
                <div class="delete_message_option">
                  <% unless @item.subcategory.generic_fields.find_by_name(e.object.label_attribute) %>
                    <small class="can_delete_field">
                      <%= e.check_box :_destroy %>
                      <strong>Este campo ya no se utiliza mas, puede eliminarse. </strong>
                    </small>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>  
      <div class="clear"></div>
    </div>
    <p id="submit_buttons"><%= f.submit :disable_with => "Guardando..." %><span class="separator"> o </span> <%= link_to t('helpers.links.cancel'), @item.new_record? ? items_path : @item  %></p>
  <% end %>
</div>

