<div id="item">
  <h3>Titulo: <%= link_to @item.title, @item %></h3>
  <div class="left panel_item_photo" >
    <%= image_tag @item.photo.url(:small) %>
  </div>
  <div class="left panel_item">
    Codigo:<strong> <%= @item.code %></strong>
    <p>
      Categoria: <%= link_to @item.subcategory.name, items_path(:subcategory => @item.subcategory.id) %> (<%= link_to @item.category.name, items_path(:category => @item.category.id) %>)
    </p>
    <p>
      Este item tiene <%= pluralize(@item.reports.count,'informe') %> 
    </p>
  </div>
  <div class="clear"></div>
  <div>
    <% if @item.has_additional_info? %>
    <h3> Informacion Adicional </h3>
    <div>
      <% @item.generic_text_fields.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.generic_field.try(:name) || field.label_attribute %></div>
          <%= field.content.blank? ? "sin datos" : field.content %>
        </div>
        <div class="clear"></div>
      <% end %>
      <% @item.generic_integer_fields.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.generic_field.try(:name) || field.label_attribute %></div>
          <%= field.content.blank? ? "sin datos" : field.content %>
        </div>
        <div class="clear"></div>
      <% end %>
      <% @item.generic_float_fields.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.generic_field.try(:name) || field.label_attribute %></div>
          <%= field.content.blank? ? "sin datos" : field.content %>
        </div>
        <div class="clear"></div>
      <% end %>
      <% @item.generic_boolean_fields.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.generic_field.try(:name) || field.label_attribute %></div>
          <%= field.content? ? "Si" : "No" %>
        </div>
        <div class="clear"></div>
      <% end %>
      <% @item.generic_text_areas.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.generic_field.try(:name) || field.label_attribute %></div>
          <div class="clear"></div>
          <%= simple_format field.content.blank? ? "sin datos" : field.content, :class=>"text_area" %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

