<% title "Items" %>

<div id="section_header">
  <div id="items_search">
    <%= form_tag items_path, :method => 'get', :remote => true do %>
      Buscar por autor o codigo:
      <%= search_field_tag 'q' %>
      <%= submit_tag "ok", :class => "remote_link"%>
    <% end %>
  </div>
  <div id="items_filter">
    Filtar por
    <select class="selectable" id="category" title="Filtrar por Categoria">
      <option value="0" selected="selected"> Categoria </option>
      <% ItemCategory.categories.each do |category| %>
        <% if !category.empty?%>
          <option value="<%= category.id %>"> <%= category.name%> </option>
        <% end %>
      <% end %>
    </select>
    <select class="selectable" id="subcategory" title="filtar por Subcategoria">
      <option value="0" selected="selected"> Subcategoria </option>
      <% ItemCategory.all_subcategories.each do |subcategory| %>
        <% if Item.where(:item_subcategory_id => subcategory).size > 0 %>
          <option value="<%= subcategory.id %>"><%= subcategory.name.titleize %> </option>
        <% end %>
      <% end %>
    </select>
    <select class="selectable" id="collection" title="Filtrar por coleccion">
      <option value="0" selected="selected"> Coleccion </option>
      <% Collection.all.each do |collection| %>
        <option value="<%= collection.id %>"> <%= collection.name.titleize %> </option>
      <% end %>
    </select>
  </div>
  <div id="section_nav">
    <span class=" button link_new"><%= link_to "Nuevo Item", new_item_path %></span>
  </div>
  <div class="clear"></div>
  <div class="sub_menu">
    <div class="pages left">
      <%= paginate @items, :remote => true %>
    </div>
    <div class="result left">
      <%= page_entries_info(@items) %>
    </div>
    <div class="destacados right">
      <% if current_user.has_items_flagged?(:important) %>
        <%= link_to 'Destacados', items_path(:flagged => 'important'), :remote => true, :class => "remote_link"  %> -
      <% end %>
      <%= link_to 'Todos', items_path, :remote => true, :class => "remote_link"  %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div id="items">
  <%= render :partial => "items" %>
</div>

