<% title "Items" %>
<% content_for :head do %>
  <script>
    $(function(){
      $('#submit_button').click(function(){
        $('.loading').show();
        $('.result').html('');
      });
      $('#by_category').click(function(){
        $('.loading').show();
        $('.result').html('');
        $.ajax({
          url: 'items/?category='+ $(this).val(),
          success: function(){
            $('.loading').hide();
          },
          dataType: 'script'
        });
      });
      $('#by_subcategory').click(function(){
        $('.loading').show();
        $('.result').html('');
        $.ajax({
          url: 'items/?subcategory='+ $(this).val(),
          success: function(){
            $('.loading').hide();
          },
          dataType: 'script'
        });
      });
      $('#by_collection').click(function(){
        $('.loading').show();
        $('.result').html('');
        $.ajax({
          url: 'items/?collection='+ $(this).val(),
          success: function(){
            $('.loading').hide();
          },
          dataType: 'script'
        });
      })
    })
  </script>
<% end %>
<div id="section_header">
  <div id="items_search">
    <%= form_tag items_path, :method => 'get', :remote => true do %>
      Buscar por autor o codigo:
      <%= search_field_tag 'q' %>
      <%= submit_tag "ok", :id => "submit_button"%>
    <% end %>
  </div>
  <div id="items_filter">
    Filtar por
    <select id="by_category" title="Filtrar por Categoria">
      <% ItemCategory.categories.each do |category| %>
        <% if !category.empty?%>
          <option value="<%= category.id %>"> <%= category.name%> </option>
        <% end %>
      <% end %>
    </select>
    <select id="by_subcategory" title="filtar por Subcategoria">
      <% ItemCategory.all_subcategories.each do |subcategory| %>
        <% if Item.where(:item_subcategory_id => subcategory).size > 0 %>
          <option value="<%= subcategory.id %>"><%= subcategory.name.titleize %> </option>
        <% end %>
      <% end %>
    </select>
    <select id="by_collection" title="Filtrar por coleccion">
      <% Collection.all.each do |collection| %>
        <option value="<%= collection.id %>"> <%= collection.name.titleize %> </option>
      <% end %>
    </select>
  </div>
  <div id="section_nav">
    <span class=" button link_new"><%= link_to "Nuevo Item", new_item_path %></span>
  </div>
  <div class="clear"></div>
  <div>
    <div class="loading" style="display:none;">
      <%= image_tag('loading.gif') %> buscando...
    </div>
    <div class="result"><%= page_entries_info(@items) %></div>
  </div>
</div>
<div id="items">
  <%= render :partial => "items" %>
</div>

