<% title "#{@item.title.titleize} - #{@item.code}" %>

<p>
  <strong><%= Item.human_attribute_name(:collection)%>:</strong>
  <%= @item.collection.try(:name) || "Sin Coleccion" %>
</p>
<p>
  <strong><%= Item.human_attribute_name(:user)%>:</strong>
  <%= @item.user.full_name %>
</p>
<p>
  <strong><%= Item.human_attribute_name(:code)%>:</strong>
  <%= @item.code %>
</p>
<p>
  <strong><%= Item.human_attribute_name(:title)%>:</strong>
  <%= @item.title %>
</p>
<p>
  <strong><%= Item.human_attribute_name(:author)%>:</strong>
  <%= @item.author.blank? ? "Sin autor" : @item.author %>
</p>
<p>
  <strong><%= Item.human_attribute_name(:description)%>:</strong>
  <%= @item.description %>
</p>
<p>
  <strong><%= Item.human_attribute_name(:category)%>:</strong>
  <%= @item.category.name %>
</p>
<p>
  <strong><%= Item.human_attribute_name(:subcategory)%>:</strong>
  <%= @item.subcategory.name %>
</p>
<p>
  <strong><%= Item.human_attribute_name(:status)%>:</strong>
  <%= @item.status %>
</p>

<h3> Informacion Adicional </h3>
  <% @item.generic_text_areas.each do |field| %>
    <p>
      <strong> <%= field.label_attribute %></strong>
      <%= simple_format field.content %>
    </p>
  <% end %>
  <% @item.generic_text_fields.each do |field| %>
    <p>
      <strong> <%= field.label_attribute %></strong>
      <%= field.content %>
    </p>
  <% end %>
  <% @item.generic_integer_fields.each do |field| %>
    <p>
      <strong> <%= field.label_attribute %></strong>
      <%= field.content %>
    </p>
  <% end %>
  <% @item.generic_float_fields.each do |field| %>
    <p>
      <strong> <%= field.label_attribute %></strong>
      <%= field.content %>
    </p>
  <% end %>
  <% @item.generic_boolean_fields.each do |field| %>
    <p>
      <strong> <%= field.label_attribute %></strong>
      <%= field.content? ? "Yes" : "No" %>
    </p>
  <% end %>

<p><%= link_to t('helpers.links.new_report'), new_item_report_path(@item) %></p>
<p>
  <%= link_to t('helpers.links.edit'), edit_item_path(@item) %> |
  <%= link_to t('helpers.links.delete'), @item, :confirm => 'Are you sure?', :method => :delete %>
</p>

