<% title "#{@item.title.titleize} - #{@item.code}" %>
<div style="width:93%;margin:auto">
  <div id="item_flags" >
    <%= render :partial => "item_flag" %>
  </div>
  <div class="right">
    <div class="button"><%= link_to t('helpers.links.new_report'), new_item_report_path(@item) %></div>
    <div class="button"><%= link_to t('helpers.links.edit'), edit_item_path(@item) %></div>
    <div class="button"><%= link_to t('helpers.links.delete'), @item, :confirm => 'Se eliminaran los reportes, imagenes, tareas, observaciones asociadas a este objeto. Esta seguro de continuar?', :method => :delete %></div>
   <div class="button"><%= link_to 'Alertas', item_alerts_path(@item) %></div>
  </div>
</div>
<div class="clear"></div>
<div id="item">
  <div class="item_basic_info">
    <h3> Informacion Basica </h3>
    <div class="left col_img"><%= image_tag @item.photo.url(:medium) %></div>
    <div class="left col_left_info">
      <div class="item_info">
        <div class="title"><%= Item.human_attribute_name(:collection)%>:</div>
        <% if @item.collection.nil? %>
          Sin Coleccion
        <% else %>
          <span class="with_vcard">
            <%= link_to @item.collection.name.titleize, @item.collection%>
            <div class="vcard-right vcard_collection" id="vcard" style="display:none">
              <span style="float:right;margin: 7px 20px;"> <%= link_to 'Close', "#", :id => "close_vcard_collection"  %></span>
              <div class="vcard-in-right">
                <strong><%= @item.collection.name.titleize %></strong>
                <div class="collection_desc"><em><%= @item.collection.description%></em></div>
                <div>Elementos: <%= @item.collection.items.size %></div>
                <div><small><%= l @item.collection.created_at, :format => :short %> por <%= @item.collection.user.full_name%></small></div>
              </div>
            </div>
          </span>
        <% end %>
      </div>
      <div class="item_info">
        <div class="title"><%= Item.human_attribute_name(:user)%>:</div>
        <%= @item.user.full_name %>
      </div>
      <div class="item_info">
        <div class="title"><%= Item.human_attribute_name(:code)%>:</div>
        <%= @item.code %>
      </div>
      <div class="item_info">
        <div class="title"><%= Item.human_attribute_name(:title)%>:</div>
        <%= @item.title %>
      </div>
      <div class="item_info">
        <div class="title">Url externa:</div>
        <a href="http://<%= @item.remote_site %>" target="_blank">Sitio externo</a>
      </div>
    </div>
    <div class="left col_left_info">
      <div class="item_info">
        <div class="title"><%= Item.human_attribute_name(:author)%>:</div>
        <%= @item.author.blank? ? "Sin autor" : @item.author %>
      </div>
      <div class="item_info">
        <div class="title"><%= Item.human_attribute_name(:category)%>:</div>
        <%= link_to @item.category.name, items_path(:category => @item.category.id) %>
      </div>
      <div class="item_info">
        <div class="title"><%= Item.human_attribute_name(:subcategory)%>:</div>
        <%= link_to @item.subcategory.name, items_path(:subcategory => @item.subcategory.id) %>
      </div>
      <div class="item_info">
        <div class="title"><%= Item.human_attribute_name(:status)%>:</div>
        <%= @item.status %>
      </div>
      <div class="item_info">
        <div class="title">Destacado:</div>
        <%= @item.featured ? "Si" : "No" %>
      </div>
    </div>

  </div>
  <div class="clear"></div>
  <p>
    <strong><%= Item.human_attribute_name(:description)%>:</strong>
    <%= simple_format @item.description, :class=> "text_area" %>
  </p>
  <div class="item_addicional_info">
    <% unless @item.has_additional_info? %>
    <h3> Informacion Adicional </h3>
    <div class="left col_left">
      <% @item.generic_text_fields.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.label_attribute.titleize %></div>
          <%= field.content.blank? ? "sin datos" : field.content %>
        </div>
        <div class="clear"></div>
      <% end %>
      <% @item.generic_integer_fields.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.label_attribute.titleize %></div>
          <%= field.content.blank? ? "sin datos" : field.content %>
        </div>
        <div class="clear"></div>
      <% end %>
      <% @item.generic_float_fields.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.label_attribute.titleize %></div>
          <%= field.content.blank? ? "sin datos" : field.content %>
        </div>
        <div class="clear"></div>
      <% end %>
      <% @item.generic_boolean_fields.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.label_attribute.titleize %></div>
          <%= field.content.blank? ? "sin datos" : field.content %>
        </div>
        <div class="clear"></div>
      <% end %>
    </div>
    <div class="right col_right">
      <% @item.generic_text_areas.each do |field| %>
        <div class="item_info">
          <div class="title"><%= field.label_attribute.titleize %></div>
          <br>
          <%= simple_format field.content.blank? ? "sin datos" : field.content, :class=> "text_area" %>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
  <% end %>
  <h3> Reportes (<%= @item.reports.size %>)</h3>
  <% unless @item.reports.empty? %>
    <ol>
      <% @item.reports.each do |report| %>
        <li>
          <span class="item_report with_vcard">
            <%= link_to report.code, report %>
            <div class="vcard-right vcard_report_<%= report.id %>" id="vcard" style="display:none;margin-left: 50px">
              <div class="vcard-in-right">
                <span style="float:right;margin: 10px 20px;"> <%= link_to 'Close', "#", :id => "#{report.id}", :class => "close_vcard_report"  %></span>
                <p>Estado:<strong> <%= report.status %> </strong></p>
                <p>Cerrado el: <strong><%= report.closed_at.nil? ? ("Sin Fecha") : (l report.closed_at :format => :long) %></strong></p>
                <p>Asignado a:<strong> <%= report.assigned.nil? ? "desconocido" : report.assigned.full_name %></strong></p>
              </div>
            </div>
          </span>
        </li>
      <% end %>
    </ol>
  <% else %>
    <h4> Todavia no tiene reportes </h4>
  <% end %>
</div>

