<% unless @report.deteriorations.empty? %>
  <div id="deteriorations">
    <table>
      <tr>
        <th> <%= Deterioration.human_attribute_name(:status)%> </th>
        <th> <%= Deterioration.human_attribute_name(:category)%> </th>
        <th> <%= Deterioration.human_attribute_name(:place)%> </th>
        <th> <%= Deterioration.human_attribute_name(:description)%> </th>
        <th> <%= Deterioration.human_attribute_name(:tasks)%> </th>
        <th> </th>
      </tr>
      <% @report.deteriorations.each do |deterioration| %>
        <tr id="deterioration_<%= deterioration.id%>" >
          <td class="status"><%= deterioration.fixed ? image_tag('closed.png') : image_tag('open.png') %></td>
          <td class="category" id="<%= deterioration.id%>"><%= deterioration.det_category.name %></td>
          <td class="place" id="<%= deterioration.id%>"><%= deterioration.place %></td>
          <td class="description" id="<%= deterioration.id%>"><%= truncate(deterioration.description,:length => 140)%></td>
          <td class="tasks"><%= link_to deterioration.tasks.size, report_deterioration_path(@report,deterioration), :title => "#{deterioration.closed_tasks} tareas cerradas" %></td>
          <td class="actions">
            <span class="show">
              <%= link_to t('helpers.links.show'), report_deterioration_path(@report,deterioration) %>
            </span>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <div class="deterioration_message">
    <h3>No se diagnostico nada todavia!</h3>
  </div>
<% end %>

