<p>
  <%= render "reports/pages/deterioration_table" %>
</p>
<p>
  <span><strong><%= Report.human_attribute_name(:comments)%>: </strong></span>
  <div class="text_area"><%=simple_format @report.comments %></div>
</p>
<p>
  <span><strong><%= Report.human_attribute_name(:treatment)%>: </strong></span>
  <div class="text_area"><%= simple_format @report.treatment %></div>
</p>
<% if @report.closed? %>
  <p>
    <div class="left" style="width: 45%">
      <p><strong>Costo horas de trabajo (aproximado)</strong></p>
      <%= @report.budget_work %> <%= CONFIG['currency'] %>
    </div>
    <div class="left" style="width: 45%">
      <p><strong>Costo de materiales (aproximado)</strong></p>
      <%= @report.budget_tools %> <%= CONFIG['currency'] %>
    </div>
    <div class="clear"></div>
  </p>
  <p>
  <span><strong><%= Report.human_attribute_name(:conclusion) %>: </strong></span>
  <div class="text_area"><%= simple_format @report.conclusion %></div>
  </p>
<% end %>

