<div style="padding: 15px 0">
  <span style="color:#666;font-weight:bold;float: right;">
    <small>
      Creado por <strong style="color:#333"><%= @report.user.full_name %></strong> hace
      <%= distance_of_time_in_words(Time.now,@report.created_at) %>.
    </small>
  </span>
  <span id="report_buttons">
    <span class="button with_text edit">
      <%= link_to t('helpers.links.edit'), edit_report_path(@report), :style => "background:#f1f1f1;" %>
    </span>
    <% if @current_user.admin? %>
      <span class="button with_text delete">
        <%= link_to t('helpers.links.delete'), @report, :confirm => 'Are you sure?', :method => :delete, :style => "background:#f1f1f1;" %>
      </span>
    <% end %>
    <% unless @report.deteriorations.empty? %>
      <span class="button with_text new">
        <%= link_to t('helpers.links.add_task'), new_report_task_path(@report), :class => "ui-icon-plus", :style => "background:#f1f1f1;" %>
      </span>
    <% end %>
    <% if @report.can_close?%>
      <% if !@report.closed? %>
        <span class="button with_text lock">
          <%= link_to t('helpers.links.close_report'),close_report_path(@report), :method => :post, :class => "ui-icon-lock", :style => "background:#f1f1f1;" %>
        </span>
      <% else %>
        <span class="button with_text unlock">
          <%= link_to t('helpers.links.open_report'),open_report_path(@report), :method => :post, :style => "background:#f1f1f1;" %>
        </span>
      <% end %>
    <% end %>
    <span class="button with_text print">
      <%= link_to t('helpers.links.pdf'),print_pdf_report_path(@report,@report.closed? ? Date.today.strftime('%d%m%Y') :  @report.updated_at.strftime('%d%m%Y') , :format => "pdf"),:class => 'ui-icon-print', :style => "background:#f1f1f1;" %>
    </span>
  </span>
</div>
<br>
<p>
  <%= render "reports/pages/deterioration_table" %>
</p>
<p>
  <span><strong><%= Report.human_attribute_name(:comments)%>: </strong></span>
    <%= simple_format @report.comments, :class => "text_area" %>
</p>
<p>
  <span><strong><%= Report.human_attribute_name(:treatment)%>: </strong></span>
  <%= simple_format @report.treatment, :class => "text_area"%>
</p>

