<p>
  <%= render "reports/pages/deterioration_table" %>
</p>
<p>
  <span><strong><%= Report.human_attribute_name(:comments)%>: </strong></span>
    <%= simple_format @report.comments, :class => "text_area" %>
</p>
<p>
  <span><strong><%= Report.human_attribute_name(:treatment)%>: </strong></span>
  <%= simple_format @report.treatment, :class => "text_area"%>
</p>

