<div class="form">
  <%= form_for [@parent,@gallery] do |f| %>
    <%= f.error_messages %>
    <p>
      <p><strong><%= f.label :description %><strong></p>
      <%= f.text_area :description, :cols => 120,:rows => 5 %>
    </p>
    <p><%= f.submit %> o <%= link_to 'Cancelar', @gallery.new_record? ? galleries_path : @gallery  %></p>
  <% end %>
</div>

