<% title "Galerias de Fotos" %>
<div id="galleries">
<table>
  <tr>
    <th>Pertenece a</th>
    <th>Descripcion</th>
    <th></th>
  </tr>
  <% for gallery in @galleries %>
    <tr>
      <td class="belongs_to">
        <%= link_to "#{gallery.galleryable.class.model_name.human} ##{gallery.galleryable.id}" , gallery.galleryable %>
      </td>
      <td class="description">
        <%= gallery.description %>
      </td>
      <td class="actions">
        <%= link_to t('helpers.links.show'), gallery %>
        <%= link_to t('helpers.links.edit'), edit_gallery_path(gallery) %>
        <%= link_to t('helpers.links.delete'), gallery, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
</div>
<p>
 <%= paginate @galleries %>
</p>

