<%= javascript_include_tag 'jquery.colorbox'%>
<%= stylesheet_link_tag "colorbox" %>
<script>
  $(function(){
    $(".gallery").colorbox({transition:"elastic"});
  });
</script>
<div id="gallery">
  <div class="left">
    <%= link_to @gallery.galleryable_type, @gallery.galleryable %>
    >
    <strong>Gallery #<%= @gallery.id %></strong>
  </div>
  <div class="right">
    <div class="button"><%= link_to t('helpers.links.edit'), edit_gallery_path(@gallery) %></div>
    <div class="button"><%= link_to t('helpers.links.manage_images'),uploader_gallery_path(@gallery)  %></div>
    <div class="button"><%= link_to t('helpers.links.delete'), @gallery, :confirm => 'Are you sure?', :method => :delete %></div>
  </div>
  <div class="clear"></div>
  <div id="gallery_info">
    <h2> Galeria #<%= @gallery.id%></h2>
    <p>Creado por <strong><%= @gallery.user.full_name %></strong></p>
    <p><strong>Description:</strong></p>
    <%= simple_format @gallery.description, :class => "text_area" %>
  </div>
  <div id="gallery_images">
    <h2> Imagenes </h2>
    <% unless @gallery.photos.empty? %>
    <ul style="list-style:none;">
      <% @gallery.photos.each do |photo| %>
        <li style="float:left;margin-left:5px;">
          <a href="<%=photo.image.url(:normal) %>" title="<%= truncate(photo.description, :length => 40) %>" rel="gallery_<%=photo.gallery.id%>" class="gallery" ><%= image_tag(photo.image.url(:small))%>
              </a>
        </li>
      <% end %>
     </ul>
     <% else %>
     <h3>  <span class="button"><%= link_to 'Agregar imagenes',uploader_gallery_path(@gallery)  %></span></h3>
     <% end %>
   <div class="clear"></div>
  </div>
</div>

