<% content_for :head do %>
  <link href="/stylesheets/fileuploader.css" type="text/css" rel="stylesheet" media="screen">
<% end %>
<%= javascript_include_tag 'fileuploader' %>
<script>
  $(document).ready(function(){
    $("p.description").editInPlace({
      url: '/galleries/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=description',
      field_type: "textarea",
  		textarea_rows: "5",
	  	textarea_cols: "117",
	  	bg_out: '#f1f1f1'
    });
    $(".check_all").click(function() {
      $(".delete_checkbox").attr("checked","checked");
      return false;
    });

    $(".uncheck_all").click(function() {
      $(".delete_checkbox").removeAttr("checked");
      return false;
    });

    var uploader = new qq.FileUploader({
      element: document.getElementById("file-uploader"),
      action: "/galleries/upload",
      textButton: "Seleccion una foto",
      allowedExtensions: ['png','jpg'],
      params: { id: "<%= params[:id] %>"}
    });
  });
</script>

<div id="gallery">
  <div>
    <%= link_to  @gallery.galleryable_type.classify.constantize.model_name.human, polymorphic_path([@gallery.galleryable]) %>
    >
    <%= link_to "#{Gallery.model_name.human} ##{@gallery.id}", @gallery %>
    >
    <strong>Uploader</strong>
  </div>
  <p>
    <div >
      <h2> <%=Gallery.human_attribute_name(:upload)%> </h2>
      <small > <%= t('helpers.text.before_upload')%></small>
    </div>
    <div id="file-uploader">
      <noscript>
        <p> <%= t('helpers.text.enable_javascript')%></p>
      </noscript>
    </div>
  </p>
<p>
  <div>
    <% if @gallery.photos.empty? %>
      <h3>
        No hay fotos todavia
      </h3>
    <% else %>
      <h2> <%= Gallery.model_name.human %> </h2>
      <div class="clear"></div>
      <%= form_for @gallery,:html =>{ :id=> "table_edit_photos" } do |f| %>
        <div class="check_uncheck">
          <a href="#" class="check_all">Marcar todas</a> /
          <a href="#" class="uncheck_all">Desmarcar todas</a>
        </div>
        <div style="float:right;margin:5px 0 ">
          <%= f.submit %>
        </div>
        <div id="table_photos">
          <table>
            <tr>
              <th> <%=Gallery.human_attribute_name(:image)%> </th>
              <th> <%=Gallery.human_attribute_name(:description)%> </th>
              <th> <%=Gallery.human_attribute_name(:created_at)%></th>
              <th> <%=Gallery.human_attribute_name(:size)%> </th>
              <th> <%=Gallery.human_attribute_name(:delete)%> </th>
             </tr>
             <%= f.fields_for :photos do |build| %>
              <tr>
                <td class="image"><%= image_tag(build.object.image.url(:small))%></td>
                <td class="description"><%= build.text_area :description, :cols => 70, :rows => 4 %></td>
                <td class="date"><%=l build.object.created_at, :format => :short %></td>
                <td class="size"><%= number_to_human_size(build.object.image_file_size)%></td>
                <td class="delete"> <%= build.check_box :_destroy, :class =>"delete_checkbox" %> </td>
              </tr>
             <% end %>
          </table>
        </div>
        <div style="float:right;margin-top:5px;">
          <%= f.submit %>
        </div>
        <div class="check_uncheck">
          <a href="#" class="check_all">Marcar todas</a> /
          <a href="#" class="uncheck_all">Desmarcar todas</a>
        </div>
        <div class="clear"></div>
      <% end %>
    <% end %>
  </div>
</p>

