<h2> Usuarios </h2>
<p>
  <span class="button new with_text"><%= link_to 'Nuevo Usuario', new_admin_user_path  %></span>
</p>
<div id="users" style="width:90%;margin:auto">
<% @users.each do |user| %>
  <div class="user" style="width:30%;float:left;margin:10px">
    <p>
      Nombre Completo: <%= user.full_name %>
      <span style="float:left;margin-right: 10px">
        <%= user.enabled? ? image_tag('closed-12.png') : image_tag('open-12.png') %>
      </span>
    </p>
    <p style="margin-left: 25px">Email: <%= user.email %></p>
    <p style="margin-left: 25px">Rol: <%= user.role %></p>
    <div style="font-size:11px;float:left;margin-left: 25px">
      <%= link_to 'editar', edit_admin_user_path(user)  %> |
      <%= user.enabled? ? (link_to 'Deshabilitar', disable_admin_user_path(user)) :  (link_to 'Habilitar', enable_admin_user_path(user))  %>
    </div>
  </div>
<% end %>
</div>

