
<%= form_for [:admin,subcategory.generic_fields.new] do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :item_category_id, :value => subcategory.id %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :size => 20 %>
  </p>
  <p>
    <%= f.label :field_style %>
    <%= f.select :field_style, GenericField::STYLES %>
  </p>
  <p><%= f.submit %></p>
<% end %>

