<% title @report.new_record? ? "Nuevo Reporte" : "Reporte #{@report.code}" %>
<script>
  $(function(){
    $('#has_date').click(function(){
      $('#dates').toggle();
    });
  })
</script>
<div id="report_form" class="form">
<%= form_for [@item,@report] do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div>
    <strong> Creado por </strong>
    <%= current_user.full_name %>
  </div>
  <div>
    <p>
      <%= f.label :assigned_to, "Asignado a" %>
      <%= f.select :assigned_to, User.all.collect{|a| [a.full_name, a.id]} %>
    </p>
  </div>
  <div>
    <p>
      <%= f.label :status %>
      <%= f.select :status,ApplicationHelper::STATUS %>
    </p>
  </div>
  <div class="clear"></div>
  <div>
    <div>
      <label>Tiene fechas?</label>
      <% if !@report.has_dates? %>
        <%= check_box_tag :has_date  %>
      <% else %>
        <%= check_box_tag :has_date, "#{@report.has_dates?}",:checked %>
      <% end %>
      <span id="dates" style="<%= @report.has_dates? ? '' : 'display:none' %>">
        <strong>Comienza el</strong>
        <%= f.text_field :start_date, :size => 20, :value => (@report.new_record? || @report.start_date.nil?) ? nil : (l @report.start_date, :format => '%d/%m/%Y') %>
        <strong>hasta</strong>
        <%= f.text_field :end_date, :size => 20 , :value => (@report.new_record? || @report.end_date.nil?) ? nil : (l @report.end_date, :format => '%d/%m/%Y') %>
      </span>
    </div>
  </div>
  <div class="clear"></div>
  <br>
  <div id="add_field" class="button">
    <%= add_child_link "Agregar",  :deteriorations %>
  </div>
  <div class="clear"></div>
  <div id="deteriorations_table">
    <div style="padding: 4px;width:99%;color:#36C;border-bottom:solid 1px #666">
      <div style="font-weight:bold;width:90px;float:left"><%= Deterioration.human_attribute_name(:category)%></div>
      <div style="font-weight:bold;width:220px;float:left"><%= Deterioration.human_attribute_name(:place)%></div>
      <div style="font-weight:bold;widht:250px;float:left"><%= Deterioration.human_attribute_name(:description)%></div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <%= f.fields_for :deteriorations do |build| %>
      <%= render :partial => 'deterioration', :locals => { :f => build } %>
    <% end %>
  </div>
  <div>
    <%= new_child_fields_template(f, :deteriorations, :object => @report.deteriorations.build) %>
  </diV>
  <div class="text_form">
    <p>
      <strong><%= f.label :comments %></strong>
      <%= f.text_area :comments %>
    </p>
    <p>
      <strong><%= f.label :treatment %></strong>
      <%= f.text_area :treatment%>
    </p>
  </div>
  <p><%= f.submit :disable_with => "Guardando..." %> o <%= link_to 'Cancelar', @report.new_record? ? @item : @report %></p>
<% end %>
</div>

