<%= javascript_include_tag 'gallery','zoom'%>
<% title "Reporte #{@report.code}"%>
<p>
  <%= link_to t('helpers.links.back'), @report  %>
</p>
<div id="gallery_1_container" style="width:49%;float:left;text-align:left;margin: 0 0 0 -20px">
<%= form_tag gallery_1_report_galleries_path(@report), :remote => true, :method => "get" do %>
  <%= select_tag "gallery_1", options_from_collection_for_select(@galleries, "id", "title"),:include_blank => "Elija una galeria", :id => "select_gallery_1" %>
  <%= submit_tag "Ok" %>
<% end %>


<div id="gallery_1"></div>

</div>

<div id="gallery_2_container" style="width:49%;float:right;text-align:left">
<%= form_tag gallery_2_report_galleries_path(@report), :remote => true, :method => "get" do %>
  <%= select_tag "gallery_2", options_from_collection_for_select(@galleries, "id", "title") ,:include_blank => "Elija una galeria", :id => "select_gallery_2"%>
  <%= submit_tag "Ok" %>
<% end %>

<div id="gallery_2"></div>

</div>

