<%= stylesheet_link_tag 'application',:media => "print" %>
<div id="header_pdf">
  <div style="float:left;padding: 5px 0;width: 20%">
    <%= image_tag(@institution.image.url(:small)) %>
  </div>
  <div style="float:left;width:70%;padding: 5px 0;text-align:center">
    <h1>
      <%= @institution.name %>
    </h1>
    <div>
      <small>
        <%= @institution.address %>
        -
        <%= @institution.city %>
        -
        <%= @institution.zip %>
        <br>
        <%= Institution.human_attribute_name(:phone)[0..2] %>:
        <%= @institution.phone %>
        -
        <%= Institution.human_attribute_name(:email)%>:
        <%= @institution.email %>

      </small>
    </div>
  </div>
<div class="clear"></div>
</div>

<h1 style="text-align:center">
  <%= Report.model_name.human %>
  <%= @report.code %>
</h1>
<div style="width:100%;margin:auto;">
  <div style="float:left;width:59%">
    <h2> Informacion General </h2>
    <p>
      <strong><%= Report.human_attribute_name(:user) %>:</strong>
      <%= @report.user.full_name %>
    </p>
    <p>
      <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
      <br>
      <%=l @report.created_at, :format => :long %>
    </p>
    <% unless @report.start_date.nil? %>
    <p>
      <strong><%= Report.human_attribute_name(:start_date) %>:</strong>
      <%=l @report.start_date, :format => :long %>
    </p>
    <% end %>
    <% unless @report.end_date.nil? %>
    <p>
      <strong><%= Report.human_attribute_name(:end_date) %>:</strong>
      <%=l @report.end_date, :format => :long %>
    </p>
    <% end %>
    <p>
      <strong><%= Report.human_attribute_name(:item) %>:</strong>
      <%= @report.item.title.titleize %>
      <small>
        (<%= @report.item.subcategory.name %> - <%= @report.item.category.name %>)
      </small>
    </p>
  </div>
  <div style="float:left;width:40%">
    <h2> Estado del Reporte </h2>
    <strong><%= Report.human_attribute_name(:status) %>: </strong>
    <%= @report.status %>
    <% if @report.closed? %>
    <p>
      <strong>Cerrado el:</strong>
      <%= l @report.updated_at, :format => :long %>
    </p>
    <% end %>
    <p>
      Problemas resueltos: <%= deteriorations_complete(@report) %>
    </p>
    <p>
      Horas completadas: <%= hours_complete(@report) %>
    </p>
  </div>
  <div class="clear"></div>
</div>

<div>
  <h2> Problemas encontrados:</h2>
  <% unless @report.deteriorations.empty? %>
    <% @report.deteriorations.each do |deterioration| %>
      <div style="border: solid 2px #666;border-radius: 3px; padding: 5px;margin: 5px 0">
        <div class="deterioration_header">
          <div class="category">
            <%= Deterioration.human_attribute_name(:category)%>: <%= deterioration.det_category.name %>
          </div>
          <div class="place" >
          <%= Deterioration.human_attribute_name(:place)%>: <%= deterioration.place %>
        </div>
          <div class=" status"><%= Deterioration.human_attribute_name(:status)%>: <%= deterioration.fixed ? image_tag('closed.png') : image_tag('open.png') %></div>
        </div>
        <div class="clear"></div>
        <br>
        <div class="description">
          <%= simple_format deterioration.description%>
        </div>
        <h3> Tareas </h3>
        <% unless deterioration.tasks.empty? %>
          <table style="width:100%">
            <tr>
              <th style="width:10%;text-align:left;padding: 0 5px"> Horas </th>
              <th style="width:60%;text-align:left;padding: 0 5px"> Descripcion </th>
              <th style="width:30%;text-align:left;padding: 0 5px"> Herramientas </th>
            </tr>
            <% deterioration.tasks.each do |task| %>
              <tr>
                <td style="width:10%;padding: 0 5px"><%= task.hours %></td>
                <td style="width:60%;padding: 0 5px"><%= task.description %> </td>
                <td style="width:30%;padding: 0 5px"><%= task.tools.collect(&:category).to_sentence %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
         <h3> No hay tareas </h3>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="deterioration_message">
      <h3>No hay problemas anotados </h3>
    </div>
  <% end %>
</div>
<div>
  <h2> Observaciones </h2>
  <% unless @report.observations.empty? %>
    <table  style="width:100%">
      <tr>
        <th style="width:10%;text-align:left;padding: 0 5px"><%= Observation.human_attribute_name(:category)%></th>
        <th style="width:50%;text-align:left;padding: 0 5px"><%= Observation.human_attribute_name(:body)%></th>
        <th style="width:20%;text-align:left;padding: 0 5px"><%= Observation.human_attribute_name(:user)%></th>
        <th style="width:20%;text-align:left;padding: 0 5px"><%= Observation.human_attribute_name(:created_at)%></th>
      <% @report.observations.each do |observation| %>
        <tr>
          <td style="width:10%;padding: 0 5px"><%= observation.category %></td>
          <td style="width:50%;padding: 0 5px"><%= observation.body %></td>
          <td style="width:20%;padding: 0 5px"><%= observation.user.full_name %></td>
          <td style="width:20%;padding: 0 5px"><%= l observation.created_at, :format=> :short %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3> No hay observaciones </h3>
  <% end %>
</div>
<p>
  <span><strong><%= Report.human_attribute_name(:comments)%>: </strong></span>
    <%= simple_format @report.comments, :class => "text_area" %>
</p>
<p>
  <span><strong><%= Report.human_attribute_name(:treatment)%>: </strong></span>
  <%= simple_format @report.treatment, :class => "text_area"%>
</p>
<p>
  <span><strong><%= Report.human_attribute_name(:conclusion) %>: </strong></span>
  <%= simple_format @report.conclusion, :class => "text_area" %>
</p>
<% if @report.closed? %>
  <h2> Conclusion </h2>
  <p>
    <div class="left col_left">
      <p><strong>Costo horas de trabajo (aproximado)</strong></p>
      <%= @report.budget_work %> <%= CONFIG['currency'] %>
    </div>
    <div class="left col_right">
      <p><strong>Costo de materiales (aproximado)</strong></p>
      <%= @report.budget_tools %> <%= CONFIG['currency'] %>
    </div>
    <div class="clear"></div>
  </p>
<% end %>

