<%= javascript_include_tag "jquery.colorbox" %>
<%= stylesheet_link_tag "colorbox" %>
<script>
$(function () {
    //var ganttData = $.getJSON( "deteriorations_to_gantt.json",{id: <%= @report.id %>});

    $( "#tabs" ).tabs();//.find( ".ui-tabs-nav" ).sortable({ axis: "x" });

    $(".place").editInPlace({
      url: '/deteriorations/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=place'
    });
    $(".category").editInPlace({
      url: '/deteriorations/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=det_category_id',
      field_type: "select",
  		select_options: '<%= DetCategory.actives.collect{|c| [c.name]}.join(", ")%>',
  		select_text: 'seleccione'
    }),
    $(".description").editInPlace({
      url: '/deteriorations/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=description',
      field_type: "textarea",
  		textarea_rows: "3",
	  	textarea_cols: "50"
    });
    $('.category').change(function(){ console.log(this)});

    $(".gallery").colorbox({transition:"elastic"});
    //$(".tooltip").tooltip();
});
</script>
<% title "#{Report.human_name} #{@report.code}" %>
<div id="report">
  <div id="report_side_panel" style="width:15%;float:left;padding: 5px;border: solid 1px #ccc;margin: 0 20px 0 0;font-size:12px">
    <%= render :partial => "side_panel" %>
  </div>
  <div id="tabs" style="margin:0; padding: 0;width:82%;float:left">
    <ul>
		  <li><a href="#report"><%= Report.model_name.human%></a></li>
		  <li><a href="#images"><%= Report.human_attribute_name(:galleries)%></a></li>
		  <li><a href="#information"><%=Report.human_attribute_name(:information)%></a></li>
	  </ul>
    <div id="report">
      <%= render "reports/pages/report" %>
    </div>
    <div id="images">
      <%= render "reports/pages/images" %>
    </div>
    <div id="information">

      <%= render "reports/pages/information" %>
    </div>
  </div>
</div>

