<%= javascript_include_tag "jquery.colorbox" %>
<%= stylesheet_link_tag "colorbox" %>
<script>
$(function () {
    //var ganttData = $.getJSON( "deteriorations_to_gantt.json",{id: <%= @report.id %>});

    $( "#tabs" ).tabs();//.find( ".ui-tabs-nav" ).sortable({ axis: "x" });

    $(".place").editInPlace({
      url: '/deteriorations/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=place'
    });
    $(".category").editInPlace({
      url: '/deteriorations/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=det_category_id',
      field_type: "select",
  		select_options: '<%= DetCategory.actives.collect{|c| [c.name]}.join(", ")%>',
  		select_text: 'seleccione'
    }),
    $(".description").editInPlace({
      url: '/deteriorations/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=description',
      field_type: "textarea",
  		textarea_rows: "3",
	  	textarea_cols: "50"
    });
    $('.category').change(function(){ console.log(this)});

    $(".gallery").colorbox({transition:"elastic"});
    //$(".tooltip").tooltip();
});
</script>
<% title "#{Report.model_name.human} #{@report.code}" %>
<div id="report">
  <div id="report_side_panel" style="width:15%;float:left;padding: 5px 10px;border-right: solid 1px #ccc;margin: 0 10px 0 0;font-size:12px">
    <%= render :partial => "side_panel" %>
  </div>
  <div id="report_user_info">
    <small>
      Creado por <strong style="color:#333"><%= @report.user.full_name %></strong> hace
      <%= distance_of_time_in_words(Time.now,@report.created_at) %>.
      Asignado a <strong style="color:#3D9400"><%= @report.assigned.full_name %></strong>
    </small>
  </div>
  <div id="report_links">
    <div class="button link_edit"><%= link_to t('helpers.links.edit'), edit_report_path(@report) %></div>
    <% if @current_user.admin? %>
      <div class="button link_delete"><%= link_to t('helpers.links.delete'), @report, :confirm => 'Are you sure?', :method => :delete %></div>
    <% end %>
    <% unless @report.deteriorations.empty? %>
      <div class="button link_new"><%= link_to t('helpers.links.add_task'), new_report_task_path(@report) %></div>
    <% end %>
    <% if @report.can_close?%>
      <% if !@report.closed? %>
        <div class="button link_close"><%= link_to t('helpers.links.close_report'),close_report_path(@report), :method => :post %> </div>
      <% else %>
        <div class="button link_open"><%= link_to t('helpers.links.open_report'),open_report_path(@report), :method => :post%></div>
      <% end %>
    <% end %>
    <div class="button link_pdf">
      <%= link_to t('helpers.links.pdf'),print_pdf_report_path(@report,@report.closed? ? Date.today.strftime('%d%m%Y') :  @report.updated_at.strftime('%d%m%Y') , :format => "pdf")%>
    </div>
  </div>
  <div id="tabs" style="margin:0; padding: 0;width:82%;float:left">
    <ul>
		  <li><a href="#report"><%= Report.model_name.human%></a></li>
		  <li><a href="#images"><%= Report.human_attribute_name(:galleries)%></a></li>
		  <li><a href="#information"><%=Report.human_attribute_name(:information)%></a></li>
	  </ul>
    <div id="report">
      <%= render "reports/pages/report" %>
    </div>
    <div id="images">
      <%= render "reports/pages/images" %>
    </div>
    <div id="information">

      <%= render "reports/pages/information" %>
    </div>
  </div>
</div>

