<%= javascript_include_tag "jquery.colorbox" %>
<%= stylesheet_link_tag "colorbox" %>
<script>
$(function () {
    //var ganttData = $.getJSON( "deteriorations_to_gantt.json",{id: <%= @report.id %>});

    $( "#tabs" ).tabs().find( ".ui-tabs-nav" ).sortable({ axis: "x" });

    $(".place").editInPlace({
      url: '/deteriorations/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=place',
      size: '20'
    });
    $(".det_category_id").editInPlace({
      url: '/deteriorations/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=det_category_id',
      field_type: "select",
  		select_options: '<%= DetCategory.all.collect{|c| [c.name]}.join(", ")%>',
  		select_text: 'category'
    }),
    $(".description").editInPlace({
      url: '/deteriorations/update_in_place',
      saving_image: '/images/loading.gif',
      params: 'field=description',
      field_type: "textarea",
  		textarea_rows: "3",
	  	textarea_cols: "60"
    });

    $(".gallery").colorbox({transition:"elastic", width:"75%", height:"75%"});
});
</script>
<% title "Report #{@report.code}" %>
<div id="report">
<div id="tabs">
  <ul>
		<li><a href="#report">Report</a></li>
		<li><a href="#images">Images</a></li>
		<li><a href="#information">Information</a></li>
		<li><a href="#report_chart">Graph</a></li>
	</ul>
<div id="report">
<%= hidden_field_tag :report_id, @report.id %>
<p><%= report_status(@report)%></p>
<span>
    <%= statics_report(@report) %>
</span>
<span id="report_buttons">
  <% unless @report.deteriorations.empty? %>
    <span class="button with_text new"> <%= link_to " new task", new_report_task_path(@report), :class => "ui-icon-plus" %></span>
  <% end %>
  <% if @report.can_close?%>
    <% if !@report.closed? %>
      <span class="button with_text lock"><%= link_to "close report",close_report_path(@report), :method => :post, :class => "ui-icon-lock" %></span>
    <% else %>
      <span class="button with_text unlock"><%= link_to "open report",open_report_path(@report), :method => :post %></span>
    <% end %>
  <% end %>
  <span class="button with_text print"><%= link_to "pdf","#",:class => 'ui-icon-print' %></span>
</span>
<div class="clear"></div>
<% unless @report.deteriorations.empty? %>
  <table id="table_deterioration">
    <tr>
      <th> </th>
      <th> Category </th>
      <th> Place </th>
      <th> Description </th>
      <th> Tasks </th>
      <th> </th>
      <th class="last"> </th>
    </tr>
    <% @report.deteriorations.each do |deterioration| %>
      <tr id="deterioration_<%= deterioration.id%>" class="on_the_sopt_fields">
        <td class="<%= deterioration.fixed ? 'closed' : 'open' %> status"></td>
        <td class="det_category_id" id="<%= deterioration.id%>"><%= deterioration.det_category.name %></td>
        <td class="place" id="<%= deterioration.id%>"><%= deterioration.place %></td>
        <td class="description" id="<%= deterioration.id%>"><%= simple_format truncate(deterioration.description,:length => 140)%></td>
        <td class="tasks"><%= link_to deterioration.tasks.size, report_deterioration_path(@report,deterioration) %></td>
        <td class="actions">
          <% if deterioration.fixed %>
            <span class="button without_text unlock">
              <%= link_to "open",open_deterioration_path(deterioration), :method => "post"%>
            </span>
          <% else %>
            <span class="button without_text lock">
              <%= link_to "close",close_deterioration_path(deterioration), :method => "post" %>
            </span>
          <% end %>
          <span class="button without_text show">
            <%= link_to 'Show', report_deterioration_path(@report,deterioration) %>
          </span>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <div class="deterioration_message">
    <h3>No deteriorations where founded </h3>
  </div>
<% end %>

<p>
  <span><strong>Comments: </strong></span>
    <%= simple_format @report.comments, :class => "text_area" %>
</p>
<div class="clear"></div>
<p>
  <span><strong>Treatment: </strong></span>
  <%= simple_format @report.treatment, :class => "text_area"%>

</p>
<div class="clear"></div>
<p>
  <span class="button with_text edit">
    <%= link_to "Edit", edit_report_path(@report) %>
  </span>
  <span class="button with_text delete">
    <%= link_to "Destroy", @report, :confirm => 'Are you sure?', :method => :delete %>
  </span>
  <span class="button with_text show">
    <%= link_to "View All", reports_path %>
  </span>
</p>
</div>
<div id="images">
  <span class="button with_text new">
   <%= link_to "Add Gallery", new_report_gallery_path(@report)%>
  </span>
  <p>
    <% @report.galleries.each do |gallery| %>
      <div>
        <h3 style="background:#26456D;padding:3px;color:#fff;border: solid 1px #26456D; border-radius: 4px;"> Gallery #<%= gallery.id %></h3>
        <strong> Description </strong>
        <%= simple_format gallery.description, :class => "text_area" %>
      </div>
      <strong> Images (<%= gallery.photos.size%>) </strong>
      <ul style="list-style:none;margin:5px 0 0 20px;padding:0">
        <% gallery.photos.limit(10).each do |photo| %>
          <li style="float:left;margin-right: 5px;">
            <a href="<%=photo.image.url(:original) %>" title="<%= photo.description%>" rel="gallery_<%=photo.gallery.id%>" class="gallery" >
              <%= image_tag(photo.image.url(:small))%>
            </a>
          </li>
        <%end %>
      </ul>
      <div class="clear"></div>
      <p>
        <span class="button with_text show">
          <%= link_to 'Show', gallery  %>
        </span>
        <span class="button with_text edit">
          <%= link_to 'Edit', uploader_gallery_path(gallery)  %>
        </span>
      </p>
   <% end %>
</div>
<div id="information">
  Information!
  </div>
<div id="report_chart">
  Graficos!
</div>

</div>
</div>

