<!DOCTYPE html>
<html>
  <head>
    <title>Conserv.AR</title>
    <%= stylesheet_link_tag "application" %>
    <link href="/stylesheets/jquery-ui-1.8.13.custom.css" type="text/css" rel ="stylesheet" media ="screen"/>
    <%= javascript_include_tag :defaults,'rails.validations' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}",:class => "flash" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
